<div>
<% if @book.image.attached? %>
    <%= image_tag(@book.image,style: "width: 100px") %><br>
<% end %>
<%= @book.name_book %><br> 
<%= @book.author %> <br> 
<%= @book.date_published %> <br>
<%= @book.gender %> <br>
<%= @book.link_download %> 
<HR width="00%">

</div>

<a class="boton">
<%= button_to "Eliminar", @book, method: :delete %> <a><br>
<%= button_to "Editar", "/books/#{@book.id}/edit", method: :get %> <br>
<%= button_to "Mostrar Catalogo", "/books#index", method: :get %> <br>
