<!DOCTYPE html>
<html>
  <head>
    <title>LibreriaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body class="container">
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
        Estas en el perfil de <strong><%= current_user.name_person %></strong>.
      <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Crear perfil", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    
</html>
